/node_modules
/public/hot
/public/storage
/public/*.js
/storage/*.key
/vendor
/.idea
.editorconfig
.env
.env.backup
.psh.yaml.override
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
